.login-form {
  border: 1px solid var(--clr-white-500);
  padding: 2rem !important;

  .form-group {
    input {
      width: 100%;
      border: 1px solid var(--clr-white-500);
    }

    input:focus + span,
    input:active + span,
    span.active {
      top: 0;
      left: 8px;
      font-size: 12px;
      background-color: var(--clr-white-900);
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      padding-inline: 1rem;
      transition: all ease 200ms;
      pointer-events: none;
    }

    .eye-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
    }
  }

  p.other-text {
    align-self: flex-end;
    display: inline-block;
    font-size: 14px;
    margin-right: -8px;
  }

  p.other-text:hover {
    background-color: var(--clr-white-800);
    cursor: pointer;
  }
}

.login-form button:focus,
.login-form button:active {
  opacity: 0.5;
}

.login-links {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--clr-white-500);
}

.login-links-container {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  gap: 1rem;
}

.login-link-box {
  font-size: clamp(1.5rem, 2vw, 2rem);
  padding: 8px;
  background: var(--clr-white-900);
  border: 1px solid var(--clr-white-500);
  border-radius: 50%;
  cursor: pointer;
}
