.basic-spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid;
  border-color: #ffffff;
  border-right-color: #2d4af0;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
