.spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--clr-white-500);
  border-right-color: var(--clr-primary-400);
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
