.friend-card-transaction-text {
  margin-top: 1rem;
}

.friend-card-transaction-text span {
  font-weight: 600;
  border: 1px solid var(--clr-white-500);
  border-radius: 100vmax;
  padding: 4px 8px;
  font-weight: 600;
  font-style: italic;
}

.friend-card-transaction-text span.green {
  background-color: var(--clr-success);
  color: var(--clr-white-900);
}

.friend-card-transaction-text span.red {
  color: var(--clr-white-900);
  color: var(--clr-danger);
}

.see-all-transaction-btn {
  margin-top: 0.5rem !important;
  margin-left: auto;
  margin-right: 0 !important;
  z-index: 5;
  background-color: var(--clr-white-900) !important;
  border: none !important;
  box-shadow: none !important;
}

.friend-card img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: 50%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  opacity: 0.9;
}
