.form {
  border: 1px solid var(--clr-white-500);
  padding: 2rem !important;

  .form-group {
    input {
      width: 100%;
      border: 1px solid var(--clr-white-500);
    }

    input:focus + span,
    input:active + span,
    span.active {
      top: 0;
      left: 8px;
      font-size: 12px;
      background-color: var(--clr-white-900);
      font-weight: 500;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      padding-inline: 1rem;
      transition: all ease 200ms;
      pointer-events: none;
      font-size: clamp(14px, 2vw, 16px);
    }

    .eye-icon {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
    }
  }

  p.form-other-text {
    align-self: flex-end;
    display: inline-block;
    font-size: 14px;
    margin-right: -8px;
  }

  p.form-other-text:hover {
    background-color: var(--clr-white-800);
    cursor: pointer;
  }
}

.form button {
  position: relative;
}

.form button:focus-visible {
  opacity: 0.5;
}

.form button:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  font-style: italic;
}

.form button::before {
  position: absolute;
  content: "";
  inset: 0;
  scale: 0 1;
  transform-origin: left;
  background-color: rgba(255, 255, 255, 0.1);
}

.button-loading::before {
  transform-origin: right;
  animation: shining 1000ms ease infinite;
}

@keyframes shining {
  from {
    scale: 0 1;
  }
  to {
    scale: 1 1;
  }
}

@media (width <= 468px) {
  .form {
    padding: 1rem !important;
  }
}

.create-transaction-btn {
 right: 1rem;
 bottom: 10svh;
 border: 1px solid var(--clr-white-500);
 font-size: clamp(1rem, 3vw, 2rem);
 color: var(--clr-primary-400);
}
