.request-card {
  display: flex;
  justify-content: space-between !important
;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.request-card button {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  font-size: clamp(1rem, 2vw, 1rem);
}

@media (width <= 468px) {
 .card-left, .card-right {
  flex-grow: 1;
  text-align: center;
 }

 .card-right button {
  flex-grow: 1;
  justify-content: center;
 }
}
