.dashboard-transaction {
  background: var(--clr-white-900);
}

.transaction-form-group {
  position: relative;
}

.transaction-form-group input[type="text"],
.transaction-form-group input[type="number"] {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--clr-white-400);
  border-radius: 4px;
}

.transaction-form-group span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-inline: 1rem;
  transition: all ease 200ms;
}

.transaction-form-group input:focus + span,
.transaction-form-group input:active + span {
  top: 0;
  left: 0.5rem;
  font-size: 14px;
  background-color: var(--clr-white-900);
}

.select-friends {
  overflow-x: auto;
}

.selected-friend-form-group input {
  max-width: 100% !important;
  border: 1px solid var(--clr-white-400);
}

.select-friends span.active {
  background: var(--clr-primary-400);
  color: var(--clr-white-900);
}
